* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
}

body {
    font-family: 'Inter', 'Segoe UI', sans-serif;
    line-height: 1.6;
    color: white;
    background-color: black;
}

.container {
    margin: 0 auto;
    display: grid;
    flex-direction: column;
    align-items: center;
}

header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    justify-content: center;
    color: white;
    z-index: 10;
}

h1 {
    font-size: 3.5rem;
    margin-bottom: 0.5rem;
    color: white;
}


.subtitle {
    font-size: 1.2rem;
    color: #0ff;
}


h2 {
    text-align: center;
    margin: 3rem;
    color: white;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
    gap: 2rem;
    margin-bottom: 4rem;
}

.project-card {
    display:inline-grid;
    background: black;
    color: white;
    padding: 1rem;
    border: 1px solid darkslategray;
    transition: transform 0.4s ease;
    width: 300px;
}

img {
    height: 50px !important;
}

.project-card:hover {
    transform: translateY(-5px);
}

.project-card h3 {
    margin-bottom: 1rem;
    color: white;
}

.project-links {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
}

.project-links a {
    text-decoration: none;
    color: deepskyblue;
    font-weight: 500;
}

.project-links a:hover {
    text-decoration: underline;
    color: white;
}

.project-card img {
    margin-bottom: 1rem;
}

#particles-js {
    z-index: 0;
    position: relative;
    height: 100vh;
    pointer-events: auto;
}
a.github-link {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('https://github.githubassets.com/favicons/favicon-dark.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.2s ease;
}
a.github-link:hover {
    color: gray;
}

footer {
    margin-top: 1.5rem;
    padding: 0.5rem;
    text-align: center;

}
footer a{
    text-decoration: none;
    color: white;
    font-size:1.2rem;
}

.social-links {
    padding-top: 0.5rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
    pointer-events: auto;
}


.social-icon {
    font-size: 1.5rem;
    color: white;
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: gray;
}
