* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    line-height: 1.6;
    color: white;
    background-color: black;
}


.container {
    margin: 0 auto; 
    display: grid;
    flex-direction: column;
    align-items: center;
}

header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 10;
    pointer-events: none;
}

h1 {
    font-size: 3.5rem;
    margin-bottom: 0.5rem;
    color: white;
}


.subtitle {
    font-size: 1.2rem;
    color: #0ff;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 4rem;
    pointer-events: auto;
}

.social-icon {
    font-size: 1.5rem;
    color: white;
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: white;
}

h2 {
    text-align: center;
    margin-bottom: 2rem;
    color: white;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    justify-content: center;
    gap: 2rem;
}

.project-card {
    display:inline-grid;
    background: black;
    color: white;
    padding: 1rem;
    
    transition: transform 0.4s ease;
    width: 300px;
}

.project-card:hover {
    transform: translateY(-5px);
}

.project-card h3 {
    margin-bottom: 1rem;
    color: white;
}

.project-links {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
}

.project-links a {
    text-decoration: none;
    color: var(--accent-color);
    font-weight: 500;
}

.project-links a:hover {
    text-decoration: underline;
    color: white;
}

/* @media (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }
    
    .container {
        padding: 1rem;
    }
} */

#particles-js {
    position: relative;
    height: 100vh;
    pointer-events: auto;
}